.task {
  width: 100%;
}

.task__container {
  margin: 0px 20px;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}

.task__content {
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 100%;
}

.task__content-info input {
  border: 0;
  width: 100%;
}

.task__content-info input::placeholder {
  color: black;
}

.task__content-info input:focus::placeholder {
  opacity: 0.5;
}

.task__content-info input:focus {
  outline: none;
}
