.task {
  width: 100%;
}

.task__content {
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 25%;
}

.task__content-selected-icon {
  width: 10%;
  float: left;
}

.task__content-text {
  width: 75%;
}

.task__content-favorite-icon {
  width: 10%;
  float: right;
  clear: both;
}
