body {
  margin: 0;
}

.home-page__container {
  height: 100vh;
  width: 100vw;
}

.home-page__side-menu {
  float: left;
  width: 25%;
  height: 100%;
}

.home-page__detail-view {
  float: left;
  width: 75%;
  height: 100%;
}

.home-page__task-menu {
  display: none;
}

.home-page__side-menu-active {
  width: 40%;
}
